body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background: #000;
}

body, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
  transition: opacity 2s;
}

.screen-tip {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Pixel FJVerdana;
  font-size: 0.6rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  transform-origin: 50% 100%;
}

.screen-tip img {
  width: 32px;
  height: 32px;
  padding: 0;
}

.screen-tip::after {
  position: absolute;
  content: '';
  width: 0; 
  height: 0; 
  bottom: -10px;
  left: calc(50% - 10px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
